In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [2]:
df = pd.read_csv("Istanbul Weather Data.csv", )

In [3]:
df.head()

,DateTime,Condition,Rain,MaxTemp,MinTemp,SunRise,SunSet,MoonRise,MoonSet,AvgWind,AvgHumidity,AvgPressure
0,02.09.2019,Partly cloudy,0.0,27,22,06:32:00,19:37:00,9:52:00,21:45:00,23,66,1012
1,01.09.2019,Partly cloudy,0.0,27,22,06:31:00,19:38:00,8:37:00,21:13:00,21,66,1011
2,31.08.2019,Patchy rain possible,0.5,26,22,06:30:00,19:40:00,7:21:00,20:40:00,22,63,1015
3,30.08.2019,Partly cloudy,0.0,27,22,06:29:00,19:42:00,6:4:00,20:5:00,20,64,1016
4,29.08.2019,Partly cloudy,0.0,27,23,06:27:00,19:43:00,4:47:00,19:26:00,24,61,1015

In [4]:
df["DATE"] = pd.to_datetime(df["DateTime"])
df.drop("DateTime", axis=1)

,Condition,Rain,MaxTemp,MinTemp,SunRise,SunSet,MoonRise,MoonSet,AvgWind,AvgHumidity,AvgPressure,DATE
0,Partly cloudy,0.00,27,22,06:32:00,19:37:00,9:52:00,21:45:00,23,66,1012,2019-02-09
1,Partly cloudy,0.00,27,22,06:31:00,19:38:00,8:37:00,21:13:00,21,66,1011,2019-01-09
2,Patchy rain possible,0.50,26,22,06:30:00,19:40:00,7:21:00,20:40:00,22,63,1015,2019-08-31
3,Partly cloudy,0.00,27,22,06:29:00,19:42:00,6:4:00,20:5:00,20,64,1016,2019-08-30
4,Partly cloudy,0.00,27,23,06:27:00,19:43:00,4:47:00,19:26:00,24,61,1015,2019-08-29
...,...,...,...,...,...,...,...,...,...,...,...,...
3891,Overcast,4.32,5,3,08:29:00,17:50:00,0:41:00,1:57:00,15,97,1015,2009-05-01
3892,Mist,2.91,5,3,08:29:00,17:49:00,0:15:00,12:48:00,9,94,1014,2009-04-01
3893,Overcast,0.08,5,3,08:29:00,17:48:00,11:52:00,NaN,16,94,1021,2009-03-01
3894,Overcast,4.48,4,1,08:29:00,17:48:00,11:30:00,23:43:00,12,89,1021,2009-02-01
3895,Partly cloudy,0.23,5,2,08:29:00,17:47:00,11:9:00,22:39:00,10,90,1027,2009-01-01

In [5]:
df.isna().sum()

DateTime         0
Condition        0
Rain             0
MaxTemp          0
MinTemp          0
SunRise          0
SunSet           0
MoonRise       132
MoonSet        131
AvgWind          0
AvgHumidity      0
AvgPressure      0
DATE             0
dtype: int64

In [6]:
df.drop(["MoonRise", "MoonSet"], axis=1)

,DateTime,Condition,Rain,MaxTemp,MinTemp,SunRise,SunSet,AvgWind,AvgHumidity,AvgPressure,DATE
0,02.09.2019,Partly cloudy,0.00,27,22,06:32:00,19:37:00,23,66,1012,2019-02-09
1,01.09.2019,Partly cloudy,0.00,27,22,06:31:00,19:38:00,21,66,1011,2019-01-09
2,31.08.2019,Patchy rain possible,0.50,26,22,06:30:00,19:40:00,22,63,1015,2019-08-31
3,30.08.2019,Partly cloudy,0.00,27,22,06:29:00,19:42:00,20,64,1016,2019-08-30
4,29.08.2019,Partly cloudy,0.00,27,23,06:27:00,19:43:00,24,61,1015,2019-08-29
...,...,...,...,...,...,...,...,...,...,...,...
3891,05.01.2009,Overcast,4.32,5,3,08:29:00,17:50:00,15,97,1015,2009-05-01
3892,04.01.2009,Mist,2.91,5,3,08:29:00,17:49:00,9,94,1014,2009-04-01
3893,03.01.2009,Overcast,0.08,5,3,08:29:00,17:48:00,16,94,1021,2009-03-01
3894,02.01.2009,Overcast,4.48,4,1,08:29:00,17:48:00,12,89,1021,2009-02-01
3895,01.01.2009,Partly cloudy,0.23,5,2,08:29:00,17:47:00,10,90,1027,2009-01-01

In [7]:
df.shape

(3896, 13)

In [8]:
Counter(df.DATE.dt.year)

Counter({2019: 245,
         2018: 365,
         2017: 365,
         2016: 366,
         2015: 365,
         2014: 365,
         2013: 365,
         2012: 365,
         2011: 365,
         2010: 365,
         2009: 365})

In [9]:
dam_df = pd.read_csv("dam_occupancy.csv")

In [10]:
dam_df["DATE"] = pd.to_datetime(dam_df["DATE"])

In [11]:
df_merged = pd.merge(dam_df, df, how="inner", on="DATE")

In [12]:
df_merged.shape

(3896, 15)

In [13]:
df_merged.head()

,DATE,GENERAL_DAM_OCCUPANCY_RATE,GENERAL_DAM_RESERVED_WATER,DateTime,Condition,Rain,MaxTemp,MinTemp,SunRise,SunSet,MoonRise,MoonSet,AvgWind,AvgHumidity,AvgPressure
0,2009-01-01,34.51,300,01.01.2009,Partly cloudy,0.23,5,2,08:29:00,17:47:00,11:9:00,22:39:00,10,90,1027
1,2009-01-02,34.87,303,01.02.2009,Cloudy,0.02,7,3,08:15:00,18:21:00,10:44:00,NaN,15,86,1019
2,2009-01-03,35.28,306,01.03.2009,Partly cloudy,0.26,8,1,07:39:00,18:55:00,9:17:00,12:0:00,11,84,1020
3,2009-01-04,35.88,312,01.04.2009,Sunny,0.00,17,9,06:48:00,19:29:00,10:17:00,1:22:00,17,69,1017
4,2009-01-05,37.32,324,01.05.2009,Partly cloudy,2.23,20,10,06:02:00,20:1:00,11:45:00,1:49:00,10,75,1007

In [14]:
df_merged.to_csv("dam_istanbul_weather.csv", index=False)